body {
    font-family: Arial, sans-serif;
    background-color: #DBE4C9;
    margin: 0;
    padding: 0;
  }
  
  .box {
    max-width: 350px;
    margin: 100px auto;
    padding: 32px;
    background: #556B2F;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .header {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #DCFFB7;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    color: #EFF5D2;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] { 
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  }
  
  .login-btn {
    width: 100%;
    padding: 12px;
    background-color: #C6D870;
    color: #0A400C;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #D9EDBF;
  }
  
  .link {
    display: block;
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
    color: #DCFFB7;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  hr {
    margin: 20px 0;
  }
  
  .create-btn {
    width: 93%;
    display: block;
    text-align: center;
    padding: 12px;
    background-color: #27391C;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .create-btn:hover {
    background-color: #185b0d;

  }
  .error {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 4px;
  }
  
  